* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
    outline: none;
}

body {
    background-color: rgb(0, 0, 0);
}

img {
    margin: 156px auto;
    display: block;
}

h1 {
    font-size: 32px;
    color: #FFFFFF;
    width: 299px;
    height: 20px;
    display: block;
    margin: 126px auto 29px;
    font-weight: 400;
}

.input1 {
    width: 342px;
    height: 74px;
    border: none;
    border-radius: 14px;
    background-color: #FFFFFF40;
    font-size: 40px;
    padding-left: 16px;
    color: white;
    margin-right: 62px;

}

.input2 {
    width: 342px;
    height: 74px;
    border: none;
    border-radius: 14px;
    background-color: #FFFFFF40;
    font-size: 40px;
    padding-left: 16px;
    color: white;

}

div {
    text-align: center;
}

button {
    display: block;
    margin: 79px auto;
    width: 342px;
    height: 72px;
    color: white;
    background-color: #AEC346;
    border-radius: 10px;
    font-size: 36px;
    font-weight: 700;
    cursor: pointer;
}

h2 {
    font-size: 32px;
    color: #FFFFFF;
    width: 299px;
    height: 20px;
    display: block;
    margin: 40px auto 29px;
    font-weight: 400;
    text-align: center;
}

button:hover {
    opacity: .8;
}

button:active {
    transform: scale(.96);
}